[submodule "deps/pd-lib-builder"]
	path = deps/pd-lib-builder
	url = https://github.com/pure-data/pd-lib-builder/
[submodule "deps/USB-HID-Report-Parser"]
	path = deps/USB-HID-Report-Parser
	url = https://github.com/tschiemer/USB-HID-Report-Parser
	branch = usbhid_map
